<h2>Daily</h2>
<table class="table">
  <tr>
    <td class="item-check"><input type="checkbox"></td>
    <td>Item 1</td>
    <td class="item-controls">
      <div class="item-button">
        (3<span class="glyphicon glyphicon-repeat"></span>)
      </div>
      <div class="item-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
      <div class="item-button">
        <span class="glyphicon glyphicon-ban-circle"></span>
      </div>
    </td>
  </tr>
  <tr>
    <td class="item-check"><input type="checkbox"></td>
    <td>Item 1</td>
    <td class="item-controls">
      <div class="item-button">
        (1<span class="glyphicon glyphicon-repeat"></span>)
      </div>
      <div class="item-button">
        <span class="glyphicon glyphicon-pencil"></span>
      </div>
      <div class="item-button">
        <span class="glyphicon glyphicon-ban-circle"></span>
      </div>
    </td>
  </tr>
</table>
